.DropdownSelect {
  background: #fafaf9;
  border: 1px solid #d9d9d9;
  padding: 0.4em 0.8em;
  width: 100%;
  box-shadow: 0 2px 2px 0 rgb(0 0 0/14%), 0 3px 1px -2px rgb(0 0 0/20%),
    0 1px 5px 0 rgb(0 0 0/12%);
  font-weight: bold;
  font-size: 1.1em;
  font-family: "Times New Roman", Times, serif;
  color: #4d4d4d;
}

.DropdownSelect:hover {
  cursor: pointer;
}

.Dropdown {
  margin-bottom: 2vh;
}
