.nav-bar {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.header {
  height: 60px;
  display: flex;
  justify-content: space-between;
  position: relative;
  max-width: 1800px;
  margin: auto;
}
.site-title {
  font-size: 25px;
  line-height: 37px;
  text-shadow: 0 1px 0 #fff;
  white-space: nowrap;
  margin: 0 0.5rem;
}

.links {
  display: flex;
  justify-content: baseline;
}

.nav-bar section > a {
  color: #5e5e5e;
  text-shadow: 0 1px 0 #fff;
  display: block;
  padding: 0 0.7rem;
  text-transform: uppercase;
  border-left: 2px solid transparent;
  text-decoration: none;
}

.navbar-button {
  color: #5e5e5e;
  text-shadow: 0 1px 0 #fff;
  display: block;
  padding: 0 0.7rem;
  text-transform: uppercase;
  border-left: 2px solid transparent;
  text-decoration: none;
}
